.main-nav {
    margin-left: 3em;

    li {
        display: inline-block;

        a {
            font-weight: bold;
            margin: 0 1em;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}